body {
    padding-top: 70px;
}

html,body {
    height:100%;
    background-size: cover;
}

section {
    padding-top:50px;
    padding-bottom:50px;
    /*
    padding-top:70px;
    padding-bottom:50px;
    min-height:calc(70% - 1px);
    */
}

.section-fullpage {
    min-height:calc(100% - 1px);
}

.section-odd {
    background-color: #F7F7F7;
    color:#555555;
}

.section-even {
    background-color: #E7E7E7;
    color:#454545;
}

.supported-browsers-group {
    padding-top:10px;
}


/* Social Brand Colors*/
.facebook-brand-color {
    color: #3b5998;
}

.twitter-brand-color {
    color: #55ACEE;
}

.googleplus-brand-color {
    color: #DD4B39;
}