body {
    font-family: "Segoe UI", "Lucida Grande", Tahoma, sans-serif;
    font-size: 120%;
    padding-bottom: 0px;
    margin-bottom: 0px;
}
.popup-dimensions {
    /* avoid an excessively wide status text */
    /*
    white-space: pre;
    text-overflow: ellipsis;
    overflow: hidden;
    */
    max-width: 800px;
    min-width: 300px;
    padding-bottom: 0%;
    margin-bottom: 0px;
}
.icon-link {
    color: #555;
}
.after-header { padding:50px 0px; }